/* Fonts */

//PT_Sans
@font-face {
    font-family: 'Assistant-light';
    src: url('assets/fonts/Assistant/Assistant-Light.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Assistant/Assistant-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Assistant-regular';
    src: url('assets/fonts/Assistant/Assistant-Regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Assistant/Assistant-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Assistant-medium';
    src: url('assets/fonts/Assistant/Assistant-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Assistant/Assistant-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/Assistant/Assistant-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/Assistant/Assistant-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Assistant-bold';
    src: url('assets/fonts/Assistant/Assistant-Bold.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Assistant/Assistant-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/Assistant/Assistant-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  